# Local environment (without Docker)
DATABASE_URL="postgresql://wahda:wahda_password@localhost:5432/wahda?schema=public"
JWT_SECRET="replace-with-long-random-secret"
INITIAL_BALANCE="600"
PORT="3000"
APP_HOST_PORT="3101"
DB_HOST_PORT="5432"
NODE_ENV="development"

# Optional
# You can generate Prisma client manually if needed:
# npx prisma generate
